header{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1.4rem;
    font-size: 20px;
    background-color: black;
    height: 50px;
    text-decoration:none;
    position: relative;
    
    
}
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;
    position: relative;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#prvi-a{
    text-decoration: none;
}

#div-header{
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    position: relative;
    top: 10px;
    text-decoration: none;
    text-decoration: none;
}

#image-1{
    height: 1200px;
    height: fit-content;
    position: relative;
    left: 20%;
}

#Kontakt{
    position: relative;
    left: 40%;
    width: fit-content;
    bottom: 1000px;
    font-size: 40px;
}

#user{
    font-size: 70px;
    position: relative;
    left: 32%;
    bottom: 1102px;
}

#user::after{
    content: " —";
    font-size: 220px;
    color: gray;
    margin-left: 0px;
    width: 200px;
    position: relative;
     gap: 0px;
     border: 1px 0px 0px 0px;
     opacity: 0px;
     bottom: 60px;
     left: 70px;  
     top: 35px;
     height: 10px;
     right: 40px;
}

#ime{
    font-size: 35px;
    position: relative;
    left: 37%;
    bottom: 920px;
width: fit-content;
}


#div-icon{
    position: relative;
    left: 33%;
    bottom: 1050px;
    display: flex;
    flex-direction: row;
    font-size: 35px;
    gap: 1.6rem;
    width: fit-content;
}

#div-icon::after{
    content: " —";
    font-size: 220px;
    color: gray;
    margin-left: 0px;
    width: 100px;
    position: relative;
    bottom: 120px;
    opacity: 0px;
     gap: 0px;
     border: 1px 0px 0px 0px;
     left: 10px;  
     height: 0px;
}
#h1-spr{
    position: relative;
    left: 32%;
    width: fit-content;
    bottom: 950px;
    font-size: 30px;
}

#textarea{
    position: relative;
    left: 43%;
    bottom: 960px;text-decoration-line: none;
}

#section{
    position: relative;
    top: 100px;
}



#najjaca-braca{
    font-size: 30px;
    bottom: 900px;
    left: 40%;
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
   
}
#button{
    width: 80px;
    font-size: 50px;
    border-radius: 15%;
background-color: black;
color: white;
}
#button:hover{
    transform: scale(1.2);
}
footer{
    position: relative;
    background-color: black;
    height: 200px;
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 100px;
      }

  .div-footer{
     display: flex;
     flex-direction: row;
     gap: 10.5rem;
     position: relative;
     top: 130px;
     height: fit-content;
  }

  #div-icon-2{
    position: relative;
    right: 1480px;
    top: 140px;
    font-size: 35px;
    color: red;
    height: fit-content;
  }

  #div-icon-3{
    position: relative;
    right: 960px;
    top: 140px;
    font-size: 35px;
    color: red;
    height: fit-content;
  }

  #div-icon-4{
    position: relative;
    right: 600px;
    top: 140px;
    font-size: 35px;
    color: red;
    height: fit-content;
  }

  #div-icon-5{
    position: relative;
    top: 20px;
    font-size: 45px;
    color: red;
    height: fit-content;
  }
#div-icon-6{
    width: fit-content;
    font-size: 45px;
    position: relative;
    top: 30px;
    color: red;
}

#divara-icon{
    display: flex;
    flex-direction: column;
}

#div-icon-7{
    position: relative;
    top: 50px;
    font-size: 40px;
    color: red;
}

